@import "tailwindcss";

@theme {
  --color-primary: #1A56DB;
  --color-surface: #FFFFFF;
  --color-background: #F3F4F6;
  --color-danger: #ef4444;
  --color-warning: #eab308;
  --color-success: #22c55e;
}

body {
  background-color: var(--color-background);
  color: #1f2937;
}
